@tailwind base;
@tailwind components;
@tailwind utilities;

.background_image {
  background-image: url("../Assets/images/hacked-image.jpg");
  width: 100%;
  height: screen;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
